.about {
    position: relative;
    overflow: hidden;
    padding-top: 358px;
    margin-top: 20px;
    @include media-breakpoint-up(sm) {
        padding-top: 454px;
        margin-top: 100px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 210px;
        margin-top: 80px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 231px;
    }
    @include media-breakpoint-up(xl) {
        padding-top: 325px;
        margin-top: 147px;
    }

    &:before {
        content: "";
        background-image: url("../images/line/about.svg");
        position: absolute;
        left: auto;
        top: 0;
        right: auto;
        width: 100%;
        height: 150px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.about-main {
    position: relative;
    background: #F8F8F8;
    border-radius: 20px;
    padding: 15px 15px 10px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
    @include media-breakpoint-up(sm) {
        padding: 30px 40px 40px;
        margin: 0 0 20px;
    }
    @include media-breakpoint-up(md) {
        text-align: left;
        padding: 32px 0 20px 40px;
    }
    @include media-breakpoint-up(lg) {
        text-align: left;
        padding: 40px 0 40px 40px;
        margin-bottom: 40px;
    }
    @include media-breakpoint-up(xl) {
        padding: 60px 0 80px 80px;
    }
}

.about-main__image {
    position: absolute;
    right: -20px;
    top: -194px;
    z-index: -1;
    @include media-breakpoint-up(sm) {
        top: -230px;
        right: -30px;
    }
    @include media-breakpoint-up(md) {
        z-index: 1;
        bottom: 0;
        right: 0;
        top: initial;
        width: auto;
    }
    @include media-breakpoint-up(xl) {
        bottom: 0;
    }

    img {
        width: 360px;
        @include media-breakpoint-up(sm) {
            width: 616px;
        }
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
}

.about-main__logo {
    width: 111px;
    @include media-breakpoint-up(sm) {
        width: 147px;
    }
    @include media-breakpoint-up(lg) {
        width: auto;
    }
}

.about-main__block {
    @include media-breakpoint-up(md) {
        width: 422px;
    }
    @include media-breakpoint-up(lg) {
        width: 543px;
    }
    @include media-breakpoint-up(xl) {
        width: 852px;
    }
}

.about-main__header {
    display: flex;
    padding-bottom: 26px;
    align-items: center;
    justify-content: center;
    position: relative;
    @include media-breakpoint-up(sm) {
        padding-bottom: 40px;
    }
    @include media-breakpoint-up(md) {
        justify-content: space-between;
    }
    @include media-breakpoint-up(lg) {
        padding-bottom: 70px;
    }

    .btn {
        position: absolute;
        right: -5px;
        top: -5px;
        height: 41px;
        @include media-breakpoint-up(sm) {
            height: 55px;
            right: -20px;
            top: -10px;
        }
        @include media-breakpoint-up(md) {
            position: static;
        }

        .btn-icon {
            width: 41px;
            @include media-breakpoint-up(sm) {
                width: 54px;
            }
        }
    }
}

.about-main__body {
    .title {
        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
}

.about-main__body__description {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
    max-width: 360px;
    margin: 0 auto;
    @include media-breakpoint-up(sm) {
        font-size: 24px;
        max-width: 600px;
        margin: 0;
    }
    @include media-breakpoint-up(md) {
        padding-top: 15px;
        padding-bottom: 30px;
        max-width: 100%;
    }
    @include media-breakpoint-up(xl) {
        padding-top: 20px;
        padding-bottom: 30px;
        font-size: 36px;
    }
}

.about-main__body__items {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-up(sm) {
        flex-wrap: nowrap;
        justify-content: center;
    }
    @include media-breakpoint-up(md) {
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 320px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 100%;
        flex-wrap: nowrap;
    }
}

.about-main__body__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: normal;
    width: calc(100% / 3);
    font-size: 14px;
    margin-bottom: 20px;
    @include media-breakpoint-up(sm) {
        width: auto;
        margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 0px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 18px;
    }

    &:not(:last-child) {
        @include media-breakpoint-up(sm) {
            margin-right: 32px;
        }
        @include media-breakpoint-up(xl) {
            margin-right: 40px;
        }
    }
}

.about-main__body__icon {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(38, 38, 44, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    svg {
        width: 30px;
        @include media-breakpoint-up(xl) {
            width: initial;
        }
    }

    @include media-breakpoint-up(xl) {
        width: 84px;
        height: 84px;
        margin-bottom: 15px;

    }
}

.about-additional {
    background: #F8F8F8;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 20px 15px 0;
    margin-left: -10px;
    margin-right: -10px;
    @include media-breakpoint-up(sm) {
        margin: 0 0 20px;
        padding: 40px 40px 25px;
    }
    @include media-breakpoint-up(lg) {
        margin: 0 0 40px;
    }

    &.is--messenger {
        padding-bottom: 200px;
        background-image: url("../images/about11.png");
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
            padding-bottom: 25px;
            background-position: right center;
            background-size: cover;
            background-image: url("../images/about12.png");
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 20px;
            background-image: url("../images/about13.png");
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: 25px;
            background-image: url("../images/about14.png");
            height: calc(50% - 40px);
        }

        .about-additional__body{
            @include media-breakpoint-up(sm) {
               max-width: 335px;
            }
            @include media-breakpoint-up(md) {
                max-width: 425px
            }
            @include media-breakpoint-up(lg) {
                max-width: 335px;
            }
        }
    }

    &.is--conference {
        padding-bottom: 200px;
        background-image: url("../images/about21.png");
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
            padding-bottom: 25px;
            background-size: cover;
            background-position: right center;
            background-image: url("../images/about22.png");
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 20px;
            background-image: url("../images/about23.png");
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: 20px;
            background-image: url("../images/about24.png");
            height: calc(50% - 40px);
        }

        .about-additional__body{
            @include media-breakpoint-up(sm) {
                max-width: 335px;
            }
            @include media-breakpoint-up(md) {
                max-width: 425px
            }
            @include media-breakpoint-up(lg) {
                max-width: 335px;
            }
        }
    }

    &.is--wallet {
        padding-bottom: 354px;
        background-image: url("../images/about31.png");
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
            padding-bottom: 467px;
            background-image: url("../images/about32.png");
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 417px;
            background-image: url("../images/about33.png");
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: 447px;
            background-image: url("../images/about34.png");
        }
    }

    &.is--market {
        padding-bottom: 314px;
        background-image: url("../images/about41.png");
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
            padding-bottom: 447px;
            background-image: url("../images/about42.png");
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 417px;
            background-image: url("../images/about43.png");
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: 427px;
            background-image: url("../images/about44.png");
        }
    }

    &.is--investment {
        padding-bottom: 201px;
        background-image: url("../images/about51.png");
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
            padding-bottom: 25px;
            background-size: cover;
            background-position: right center;
            background-image: url("../images/about52.png");
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 20px;
            background-image: url("../images/about53.png");
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: 25px;
            background-image: url("../images/about54.png");
            height: calc(50% - 40px);
        }

        .about-additional__body{
            @include media-breakpoint-up(sm) {
                max-width: 335px;
            }
            @include media-breakpoint-up(md) {
                max-width: 425px
            }
            @include media-breakpoint-up(lg) {
                max-width: 335px;
            }
        }
    }

    &.is--credit {
        padding-bottom: 221px;
        background-image: url("../images/about61.png");
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
            padding-bottom: 25px;
            background-size: cover;
            background-position: right center;
            background-image: url("../images/about62.png");
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 20px;
            background-image: url("../images/about63.png");
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: 25px;
            background-image: url("../images/about64.png");
            height: calc(50% - 40px);
        }

        .about-additional__body{
            @include media-breakpoint-up(sm) {
                max-width: 335px;
            }
            @include media-breakpoint-up(md) {
                max-width: 425px
            }
            @include media-breakpoint-up(lg) {
                max-width: 335px;
            }
        }
    }
}

.about-additional__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.about-additional__icon {
    width: 28px;
    height: 28px;
    border: 1px solid rgba(38, 38, 44, 0.2);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    @include media-breakpoint-up(sm) {
        width: 42px;
        height: 42px;
        margin-right: 10px;
    }

    svg {
        width: 15px;
        @include media-breakpoint-up(sm) {
            width: 20px;
        }
    }
}

.about-additional__title {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    background: linear-gradient(45deg, #0A0911 0%, rgba(10, 9, 17, 0.76) 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-primary;
    @include media-breakpoint-up(sm) {
        font-size: 24px;
    }
}

.about-additional__body {
    font-size: 14px;

    p {
        margin-bottom: 10px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 15px
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 20px
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 15px
        }
    }
}
