.contact {
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    margin-top: 30px;
    @include media-breakpoint-up(sm) {
        padding-bottom: 80px;
        margin-top: 70px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 140px;
        margin-top: 80px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 70px;
    }
    @include media-breakpoint-up(xl) {
        padding-bottom: 100px;
        padding-top: 170px;
        margin-top: 120px;
    }

    &:before {
        content: "";
        background-image: url("../images/line/contact.svg");
        position: absolute;
        left: auto;
        top: 0;
        right: auto;
        width: 100%;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.contact-description {
    font-size: 14px;
    text-align: center;
    color: #000000;
    font-weight: 400;
    padding-bottom: 20px;
    @include media-breakpoint-up(sm) {
        font-size: 18px;
        padding-bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
        text-align: left;
    }
    @include media-breakpoint-up(xl) {
        font-weight: 300;
        font-size: 24px;
    }
}

.contact-social {
    background: #F8F8F8;
    border-radius: 20px;
    padding: 20px 15px 10px;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    @include media-breakpoint-up(sm) {
        padding: 30px 40px;
        margin: 0;
        flex-wrap: nowrap;
    }
    @include media-breakpoint-up(md) {
        padding: 40px 60px;
        margin: 0 80px;
    }
    @include media-breakpoint-up(lg) {
        padding: 40px;
        margin: 0;
    }
}

.contact-social__title {
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    @include media-breakpoint-up(sm) {
        text-align: left;
    }
    @include media-breakpoint-up(xl) {
        font-size: 24px;
        padding-bottom: 15px;
    }
}

.contact-social__item {
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
    flex-shrink: 0;
    @include media-breakpoint-up(sm) {
        margin: 0;
    }

    .btn {
        max-width: 320px;
    }

    &.is--email {
        margin-right: 0;
        width: auto;

        .btn {
            width: 259px;
            @include media-breakpoint-up(sm) {
                width: 275px;
            }
            @include media-breakpoint-up(xl) {
                width: 318px;
            }


            &:hover {
                background: #D88538;
                border-color: #D88538;

                .btn-icon::before {
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    &.is--instagram {
        @include media-breakpoint-up(sm) {
            margin-left: auto;
            width: auto;
        }

        .btn {
            width: 320px;
            position: relative;
            @include media-breakpoint-up(sm) {
                width: 197px;
            }
            @include media-breakpoint-up(xl) {
                width: 226px;
            }

            .btn-icon img {
                &:last-child {
                    display: none;
                }
            }

            .btn-text{
                z-index: 2;
            }

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                opacity: 0;
                height: 100%;
                transition: all 0.5s;
                background: radial-gradient(124.65% 124.65% at 37.17% 100.07%, #FFDD55 0%, #FF543F 32.8%, #FC5245 34.8%, #E64771 50.4%, #D53E91 64.3%, #CC39A4 76.1%, #C837AB 84.1%) no-repeat;
            }


            &:hover {
                border-color: transparent;
                background-color: transparent;

                &:before {
                    opacity: 1;
                }

                .btn-icon::before {
                    background: rgba(255, 255, 255, 0.2);
                }

                .btn-icon img {
                    &:last-child {
                        display: block;
                    }

                    &:first-child {
                        display: none;
                    }
                }
            }
        }
    }

    &.is--telegram {
        margin-left: 6px;
        width: auto;
        @include media-breakpoint-up(sm) {
            position: relative;
            margin-left: 20px;
        }
        @include media-breakpoint-up(md) {
            margin-left: 40px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 20px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 70px;
        }

        .btn {
            width: 55px;
            position: relative;
            @include media-breakpoint-up(lg) {
                width: 62px;
            }
            @include media-breakpoint-up(xl) {
                width: 221px;
            }

            .btn-icon img {
                &:last-child {
                    display: none;
                }
            }

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                opacity: 0;
                height: 100%;
                transition: all 0.5s;
                background: linear-gradient(0deg, #155CDE -16.05%, #1F7FE5 11.75%, #279CEB 40.85%, #2CAFEF 65.95%, #2EB5F0 83.95%) no-repeat;
            }

            .btn-text{
                z-index: 2;
            }

            &:hover {
                border-color: transparent;
                background-color: transparent;

                &:before {
                    opacity: 1;
                }

                .btn-icon::before {
                    background: rgba(255, 255, 255, 0.2);
                }

                .btn-icon img {
                    &:last-child {
                        display: block;
                    }

                    &:first-child {
                        display: none;
                    }
                }
            }
        }

        &:before {
            @include media-breakpoint-up(sm) {
                content: "";
                position: absolute;
                right: -30px;
                bottom: 10px;
                width: 1px;
                height: 35px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.1) 100%);
            }
            @include media-breakpoint-up(md) {
                right: -49px;
            }
            @include media-breakpoint-up(lg) {
                right: -27px;
            }
            @include media-breakpoint-up(xl) {
                display: none;
            }
        }
    }
}
