.contact {
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    margin-top: 30px;
    @include media-breakpoint-up(sm) {
        padding-bottom: 80px;
        margin-top: 70px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 140px;
        margin-top: 80px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 70px;
    }
    @include media-breakpoint-up(xl) {
        padding-bottom: 125px;
        padding-top: 170px;
        margin-top: 120px;
    }

    &:before {
        content: "";
        background-image: url("../images/line/contact.svg");
        position: absolute;
        left: auto;
        top: 0;
        right: auto;
        width: 100%;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.contact-description {
    font-size: 14px;
    text-align: center;
    color: #000000;
    font-weight: 400;
    padding-bottom: 20px;
    @include media-breakpoint-up(sm) {
        font-size: 18px;
        padding-bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
        text-align: left;
    }
    @include media-breakpoint-up(xl) {
        font-weight: 300;
        font-size: 24px;
    }
}

.contact-social {
    background: #F8F8F8;
    border-radius: 20px;
    padding: 20px 15px 10px;
    margin-left: -15px;
    margin-right: -15px;
    @include media-breakpoint-up(sm) {
        padding: 30px 40px;
        margin: 0;
    }
    @include media-breakpoint-up(md) {
        padding: 40px 60px;
    }
    @include media-breakpoint-up(lg) {
        padding: 40px;
    }
}

.contact-social__title {
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    @include media-breakpoint-up(sm) {
        text-align: left;
    }
    @include media-breakpoint-up(xl) {
        font-size: 24px;
        padding-bottom: 15px;
    }
}

.contact-social__item {
    width: 100%;
    max-width: 320px;
    margin: 0 auto 20px;
    @include media-breakpoint-up(sm) {
        margin: 0;
    }
    @include media-breakpoint-up(xl) {
        padding-bottom: 0;
    }

    .btn {
        width: 100%;
    }

    &.is--email {
        width: 245px;
        @include media-breakpoint-up(sm) {
            width: 275px;
        }

        .btn-text {
            padding: 0;
        }
    }

    &.is--telegram {
        width: 55px;

        @include media-breakpoint-up(sm) {
            width: 85px;
            position: relative;
        }

        &:before {
            @include media-breakpoint-up(sm) {
                content: "";
                position: absolute;
                right: 0;
                bottom: 10px;
                width: 1px;
                height: 35px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.1) 100%);
            }
        }

        .btn {
            @include media-breakpoint-up(sm) {
                width: auto;
            }
        }
    }
}
