.graph {
    position: relative;
    overflow: hidden;
    padding-top: 210px;
    margin-top: -70px;
    @include media-breakpoint-up(sm) {
        padding-top: 250px;
        margin-top: 20px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 270px;
        margin-top: 10px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 250px;
        margin-top: -10px;
    }
    @include media-breakpoint-up(xl) {
        padding-top: 310px;
        margin-top: 100px;
    }

    &:before {
        content: "";
        background-image: url("../images/line/graph.svg");
        position: absolute;
        left: auto;
        top: 0;
        right: auto;
        width: 100%;
        height: 150px;
        background-position: center;
    }
}

.graph-block {
    background: #F8F8F8;
    border-radius: 20px;
    padding: 30px 20px 30px 40px;
    @include media-breakpoint-up(xl) {
        padding: 60px 20px 40px 80px;
    }
}

.graph-header {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: flex-end;
    padding-bottom: 10px;
}

.graph-header__info {
    padding-bottom: 15px;

    .badge + .badge {
        margin-left: 40px;
    }
}
