.badge {
    display: inline-flex;
    align-items: center;

    &.is--brown .badge-icon{
        background: $color-brown;
    }

    &.is--vip .badge-icon{
        background: linear-gradient(134.35deg, #FF0000 0%, #FED70D 100%);
        box-shadow: 0 0 10px rgba(255, 104, 6, 0.6);
    }
}

.badge-title {
    font-size: 18px;
    color: #000000;
    padding-right: 10px;
    font-weight: normal;
}

.badge-icon {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    padding: 8px 10px;
    background: #4C4C4C;
    border-radius: 5px;
}
