.btn {
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    height: 55px;
    font-weight: 600;
    flex-shrink: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    @include media-breakpoint-up(sm) {
        height: 62px;
        font-size: 16px
    }
    @include media-breakpoint-up(xl) {
        height: 83px;
        font-size: 20px;
    }

    &.btn-secondary {
        background: $color-primary;
        border-color: $color-primary;
        color: #fff;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.5s;
            background: linear-gradient(93.49deg, #0A0911 2.79%, #3D3D43 96.69%);
            opacity: 0;
        }


        &:hover {
            border-color: transparent;

            &:before {
                opacity: 1;
            }
        }

        .btn-text {
            z-index: 1;
        }
    }

    &.btn-outline {
        color: $color-primary;
        border-color: rgba(38, 38, 44, 0.2);
        transition: all 0.5s;

        .btn-icon:before {
            transition: all 0.5s;
            background: rgba(38, 38, 44, 0.2);
        }

        &:hover {
            color: #fff;
            background: $color-primary;
            border-color: $color-primary;

            .btn-icon {
                &:before {
                    background: rgba(255, 255, 255, 1);
                }

                svg {
                    stroke: white;
                    fill: white;
                }
            }
        }
    }

    .btn-text {
        padding: 0 30px;
        white-space: nowrap;
        width: 100%;
        @include media-breakpoint-up(xl) {
            padding: 0 40px;
        }
    }

    .btn-icon {
        flex-shrink: 0;
        margin-left: -1px;
        width: 61px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @include media-breakpoint-up(xl) {
            width: 83px;
        }

        &:before {
            content: "";
            background: rgba(255, 255, 255, 0.2);
            height: calc(100% - 20px);
            position: absolute;
            top: 10px;
            left: 0;
            width: 1px;
        }
    }

    &.btn-small {
        height: 55px;
        font-size: 14px;
        @include media-breakpoint-up(lg) {
            height: 62px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 16px;
        }

        .btn-text {
            padding: 0 30px;
        }

        .btn-icon {
            width: 55px;
            @include media-breakpoint-up(lg) {
                width: 61px;
            }
        }
    }
}


.svg-info {
    transition: all 0.5s;
    stroke: #A0A7BB;
    stroke-width: 1.5;
    stroke-linecap: square;
    stroke-linejoin: round;
}

.svg-play{
    transition: all 0.5s;
    stroke: #A0A7BB;
    fill: #A0A7BB;
    stroke-width: 2;
    stroke-linecap: square;
    stroke-linejoin: round;
}

.svg-mail {
    transition: all 0.5s;
    stroke: #D88538;
    stroke-width: 1.5;
    stroke-linecap: square;
    stroke-linejoin: round;
}
