.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82px;
    z-index: 11;
    @include media-breakpoint-up(xl) {
        height: 122px;
    }

    .header-partner {
        display: none;
    }

    &.is--hide {
        transition: transform .5s;
        transform: translate(0, -100%);
    }

    &.is--fixed {
        position: fixed;
        transform: translate(0, 0);
        background-color: #fff;

        .header-partner {
            display: flex;
        }
    }
}

.header-language {
    font-size: 14px;
    text-align: left;
    color: $color-grey;
    white-space: nowrap;
    font-weight: 400;
    @include media-breakpoint-up(md) {
        font-size: 12px;
        margin-left: 46px;
    }
    @include media-breakpoint-up(lg) {
        text-align: right;
        margin-left: 60px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 14px;
        margin-left: 80px;
    }

    a {
        font-size: 18px;
        font-weight: 600;
        transition: color 0.5s;
        color: $color-brown;
        text-decoration: underline;
        @include media-breakpoint-up(md) {
            font-size: 14px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }

        &:hover {
            color: $color-primary;
        }
    }
}

.header-menu {
    a {
        position: relative;
        transition: color .5s;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        @include media-breakpoint-up(sm) {
            font-size: 36px;
        }
        @include media-breakpoint-up(md) {
            font-size: 14px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0;
            background-color: $color-brown;
            transition: width .5s;
        }

        &:hover {
            color: $color-brown;

            &::after {
                width: 100%;
            }
        }

    }

    li:not(:last-child) {
        padding-bottom: 40px;
        @include media-breakpoint-up(sm) {
            padding-bottom: 60px;
        }
        @include media-breakpoint-up(md) {
            padding-right: 40px;
            padding-bottom: 0;
        }
        @include media-breakpoint-up(xl) {
            padding-right: 50px;
        }
    }
}

.header-logo {
    margin-right: auto;
    @include media-breakpoint-up(md) {
        margin-right: 110px;
    }
    @include media-breakpoint-up(lg) {
        margin-right: 80px;
    }
    @include media-breakpoint-up(xl) {
        margin-right: 120px;
    }

    img{
        width: 128px;
        @include media-breakpoint-up(sm) {
            width: 183px;
        }
        @include media-breakpoint-up(xl) {
            width: 220px;
        }
    }
}

.header-burger {
    margin-left: 20px;
    display: block;
    width: 20px;
    height: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(sm) {
        margin-left: 40px;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $color-brown;
        opacity: 1;
        left: 0;
        border-radius: 10px;
        transform: rotate(0);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: calc(100% - 2px);
        }
    }

    &.is--open {
        span {
            background-color: #D83838;

            &:nth-child(1) {
                top: 4px;
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                top: 4px;
                transform: rotate(-135deg);
            }
        }
    }
}

