* {
    min-width: 0;
    overflow-anchor: none;
    text-decoration-skip-ink: none;
    -webkit-text-size-adjust: 100%
}

a {
    color: $color-primary;
    text-decoration-skip-ink: none;
    outline: none !important;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

input::-ms-clear {
    display: none;
}

:focus,
:visited {
    outline: none !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"],
input[type="time"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    content: attr(placeholder);
}

body {
    background-repeat: no-repeat;
    background-image: url("../images/ellipse/ellipse_01.svg"), url("../images/ellipse/ellipse_02.svg");
    background-position: 0 0, 100% 100%;
    padding-bottom: 10px;
    background-size: 471px;
    @include media-breakpoint-up(sm) {
        padding-bottom: 40px;
    }
    @include media-breakpoint-up(xl) {
        padding-bottom: 60px;
        background-size: 692px;
    }
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;

    &.row > * {
        padding-left: 0;
        padding-right: 0;
    }
}


.row {
    --migoto-gutter-x: 20px;
}
